@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', monospace;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
  background: -webkit-linear-gradient(to right, #ffafbd, #ffc3a0);
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
}