aside.menu-area{
    background-color: #65C7F7;
}

.menu a{
    display: block;
    color: #FFF;
    padding: 10px;
    transition: 300ms ease;
}

.menu a:hover{
    background-color: #FFF;
    color: #65C7F7;
    text-decoration: none;
}

.menu i{
    margin: 0 4px;
}